.pagination-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 25px;
  .pagination {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 4px;
    color: #222;
    border-radius: 8px;
    background: #ffff4d;
  }
  .current-page {
    background: #b6b329;
  }
}