.artist-card {
  width: 130px;
  min-height: 250px;
  margin: 12px;
  overflow: hidden;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.527);
  transition: all 0.2s ease;
  &:hover {
    filter: brightness(0.6);
    backdrop-filter: brightness(0.5);
  }

  .actor-img {
    width: 100%;
    height: 180px;
    color: #eee;
    object-fit: cover;
  }
  .actor-name-wrap {
    color: #eee;
    display: block;
    padding: 10px;
    .actor-name {
      font-size: 15px;
    }
    .actor-char-name {
      font-size: 13px;
    }
  }
}