.movie-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  width: 200px;
  margin: 0 15px 35px;
  z-index: 1;
  color: #eee;
  border-radius: 7px;
  backdrop-filter: blur( 14px );
  background: rgba( 0, 0, 0, 0.65 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: 0 8px 32px 0 rgba(18, 22, 73, 0.37);

  .img-wrap{
    overflow: hidden;
    width: 100%;
    height: 260px;
    border-radius: 7px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    .movie-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.1);
        filter: brightness(0.6);
      }
    }
  }
  .movie-rating {
    width: 40px;
    position: absolute;
    top: 20px;
    right: -12px;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    color: #eee;
    background: rgb(49, 63, 255);
    text-shadow: 0 0 10px rgb(78, 78, 78);
    border-top-left-radius: 6px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 4px;
    &:after {
      content: '';
      position: absolute;
      top: 23px;
      right: 6px;
      width: 10px;
      height: 20px;
      z-index: -5;
      border-radius: 2px;
      transform: rotate(52deg);
      background: rgb(0, 30, 161);
    }
  }
  .movie-lead {
    padding: 20px;
    .movie-title {
      color: #eee;
      width: 160px;
      display: block;
      font-size: 17px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: all 0.3s ease;
      &:hover {
        color: #888;
      }
    }
    .release-date {
      color: #888;
      margin-top: 12px;
    }
  }
}