.top-rated-movie-holder {
  .top-rated-title {
    margin-top: 30px;
  }
  .top-rated-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
  }
}